@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div>
    <form method="post" asp-page="Index">
        <input type="submit" value="Submit 1" asp-page-handler="Work1" />
        <input type="submit" value="Submit 2" asp-page-handler="Work2" />
        <input type="submit" value="Submit 3" asp-page-handler="Work3" />
    </form>
    @Model.Msg
</div>
